@define-color bgc rgba(0, 0, 0, 0.1);
@define-color borderc #ebdbb2;
@define-color textc #282828;

* {
  font-family: "IosevkaTerm Nerd Font Mono";
  font-weight: bold;
  font-size: 15px;
}

slider,
scale,
.slider,
.adw-slider,
.gdk-slider,
progress,
.progress {
  min-height: 0;
  min-width: 0;
  padding: 0;
  margin: 0;
}

.gtk-gizmo,
.gizmo,
.adw-gizmo {
  min-height: 0;
  min-width: 0;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @bgc;
}

.notification-row {
  outline: none;
  margin: 20px;
  padding: 0;
}

.notification {
  background: @textc;
  margin: 0px;
  border-radius: 0px; /* Removed rounded corners */
  border-width: 3px;
  border: 3px solid @borderc;
}

.notification-content {
  background: @textc;
  padding: 7px;
  margin: 0;
}

.close-button {
  background: @textc;
  color: @borderc;
  text-shadow: none;
  padding: 0;
  border-radius: 0px; /* Removed rounded corners */
  margin-top: 9px;
  margin-right: 5px;
  border: 3px solid transparent;
}

.close-button:hover {
  box-shadow: none;
  background: @borderc;
  color: @textc;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-action {
  color: @bgc;
  background: @textc;
}

.summary {
  padding-top: 7px;
  font-size: 13px;
  color: @borderc;
}

.time {
  font-size: 11px;
  color: @borderc;
  margin-right: 40px;
}

.body {
  font-size: 12px;
  color: @borderc;
}

.control-center {
  background-color: @bgc;
  border-radius: 0px; /* Removed rounded corners */
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: alpha(black, 0.1);
}

.widget-title {
  color: @borderc;
  padding: 10px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
}

.widget-title > button {
  font-size: 1rem;
  color: @borderc;
  padding: 10px;
  text-shadow: none;
  background: @bgc;
  box-shadow: none;
  border-radius: 0px; /* Removed rounded corners */
}

.widget-title > button:hover {
  background: @borderc;
  color: #282828;
}

.widget-label {
  margin: 10px 10px 10px 10px;
}

.widget-label > label {
  font-size: 1rem;
  color: @textc;
}
