@define-color gruv0 #282828;
@define-color gruv1 #32302f;
@define-color gruv2 #45403d;
@define-color gruv3 #5a524c;

@define-color gruv4 #fbf1c7;
@define-color gruv5 #f4e8be;
@define-color gruv6 #eee0b7;

@define-color gruv7 #a89984;
@define-color gruv8 #928374;
@define-color gruv9 #7c6f64;
@define-color gruv10 #504945;
@define-color red #ea6962;

@define-color orange #e78a4e;
@define-color yellow #d8a657;
@define-color aqua #89b482;
@define-color purple #d3869b;

@define-color reddark #c14a4a;
@define-color yellowdark #b47109;

@define-color foreground @gruv9;
@define-color bg-transparent rgba(0, 0, 0, 0.3);

window {
  background-color: @bg-transparent;
  border-radius: 6px;
  border: 2px solid @gruv6;
  padding: 4px;
}

#input {
  color: @gruv6;
  background-color: transparent;
  border: 4px solid @gruv6;
  border-radius: 0px;
  padding: 14px;
  font-family: "IosevkaTerm Nerd Font Mono";
}

#outer-box {
  background-color: transparent;
  padding: 0;
}

#inner-box {
  background-color: transparent;
  padding: 0;
}

#entry {
  background-color: transparent;
  color: @gruv6;
  padding: 5px;
  border-radius: 0;
  border: none;
}

#entry:selected {
  background-color: @gruv7;
  color: @gruv0;
}

#entry:active {
  background-color: @yellowdark;
}

#entry:focus {
  background-color: @yellow;
}

#text {
  color: @gruv6;
}

#icon {
  margin-right: 10px;
}

#message {
  color: @gruv6;
  background-color: transparent;
  border: none;
  padding: 10px;
}
