* {
  font-family: "IosevkaTerm Nerd Font";
  font-weight: bold;
  font-size: 20px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 0;
  padding: 0;
}

window#waybar {
  background-color: rgba(40, 40, 40, 0.85);
  transition-property: background-color;
  transition-duration: 0.5s;
  min-height: 48px;
}

window#waybar.hidden {
  opacity: 0.5;
}

window#waybar.empty {
  background-color: transparent;
}

#waybar.empty #window {
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

tooltip {
  opacity: 1;
  border-radius: 0px;
}

tooltip label {
  padding: 10px;
  color: #ebdbb2;
}

#clock,
#cpu,
#mpris,
#memory,
#network,
#pulseaudio,
#temperature,
#workspaces,
#custom-poweroff,
#custom-menu,
#custom-swaync {
  border-radius: 0px;
  color: #ebdbb2;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#window {
  color: #ebdbb2;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 0px;
}

#workspaces button {
  margin: 0px;
  font-size: 20px;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #ebdbb2;
  color: #282828;
}

#temperature.critical {
  background-color: red;
}
