* {
  font-family: IosevkaTerm Nerd Font Mono;
  font-size: 16px;
  transition-property: background-color;
  transition-duration: 0.7s;
}

window {
  background-color: rgba(40, 40, 40, 0.1);
  border-radius: 0px; /* Removed rounded corners */
}

button {
  color: #ebdbb2;
  background-color: #282828;
  border-style: solid;
  border-width: 3px;
  border-radius: 0px; /* Removed rounded corners */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  margin: 15px;
}

button:active,
button:hover {
  background-color: #32361a;
}

button:focus {
  background-color: #32361a;
}

#lock {
  background-image: image(url("./icons/lock.png"), url("./icons/lock.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"), url("./icons/logout.png"));
}

#suspend {
  background-image: image(
    url("./icons/suspend.png"),
    url("./icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("./icons/hibernate.png"),
    url("./icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("./icons/shutdown.png"),
    url("./icons/shutdown.png")
  );
}

#reboot {
  background-image: image(url("./icons/reboot.png"), url("./icons/reboot.png"));
}
